[package]
name = "parser"
version = "0.1.0"
edition = "2021"

[lib]
name = "parser"
crate-type = ["cdylib", "staticlib"]

[dependencies]
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
unicode-normalization = "0.1"

